{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block meta-title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<script src="{% static 'main/js/main.js' %}"></script>
    {% block meta-styles %}
    {% endblock %}
</head>
<body>
    <header class="site-header">
	    <div class="logo">
	        <a href="{% url 'home' %}" class="logo">
			    <img class="logotip" src="{% static 'main/img/remsell-img.png' %}" alt="">
			</a>
	    </div>
		    <div class="catalog-bar">
			    <div class="links">
			        <a href="#catalog" id="catalog-link">
			            <div class="link-content">
			                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journal" viewBox="0 0 16 16">
							  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
							  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
							</svg>
			                <span class="catalog-place">Каталог</span>
			            </div>
			        </a>
			    </div>
			</div>
		<div class="catalog-overlay" id="catalog-overlay">
	    	<div class="catalog-menu">
        		<!-- Здесь размещаем выборы категорий -->
        		<div class="catalog-header">
    				<p>Каталог товаров</p>
    			</div>
		        <ul>
		            {% if categories %}
						<!-- Отображение категорий -->
						{% for category in categories %}
							<li><a href="{% url 'category_products' category.id %}">{{ category.name }}</a></li>
						{% endfor %}
					{% endif %}
		        </ul>
		    </div>
		</div>
	    <div class="search-bar">
		    <input type="text" placeholder="Поиск...">
		    <button type="submit">
		        <svg class="search_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#333333">
		            <path d="M0 0h24v24H0z" fill="none"/>
		            <path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
		        </svg>
		    </button>
		</div>
	    <div class="chat-bar">
	    	<div class="links">
	        	{% if user.is_authenticated %}
					<a href="{% url 'chat' %}" target="_self">
						<div class="link-content">
							<!-- Если пользователь в системе, ссылка будет неактивной -->
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
								<path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
								<path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
							</svg>
							<span class="chat-place">Чаты</span>
						</div>
					</a>
				{% else %}
					<!-- Если пользователь не в системе, ссылка будет активной и перенаправит на страницу входа -->
					<a href="{% url 'entry' %}" target="_self">
						<div class="link-content">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
								<path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
								<path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
							</svg>
							<span class="chat-place">Чаты</span>
						</div>
					</a>
				{% endif %}
		    </div>
		</div>
	    <div class="entry-bar">
	    	<div class="links">
	        	<a href="{% url 'entry' %}">
	            	<div class="link-content">
	                	<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
						  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
						</svg>
		            	<span class="entry-place" href="{% url 'entry' %}" target="_self">Вход</span>
		        	</div>
		    	</a>
		    </div>
		</div>
	</header>
    {% block meta-body %}
    {% endblock %}
</body>
</html>