{% extends 'main/log_layout.html' %}
{% load static %}

{% block meta-title %}RemSell{% endblock %}
{% block meta-styles %}
    <link rel="stylesheet" href="{% static 'main/css/order_details_confirmation.css' %}">
{% endblock %}
{% block meta-body %}
<main class="order-confirmation-container">
    <div class="order-confirmation-content">
        <h1>Подтверждение заказа</h1>
        <p><strong>ID заказа:</strong> {{ reserved_order.id }}</p>
        <p><strong>Серийный номер:</strong> {{ reserved_order.serial_number }}</p>
        <p><strong>Имя:</strong> {{ reserved_order.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ reserved_order.last_name }}</p>
        <p><strong>Отчество:</strong> {{ reserved_order.patronymic }}</p>
        <p><strong>Способ оплаты:</strong> {{ reserved_order.payment_method }}</p>
        <p><strong>Товар:</strong> {{ reserved_order.product }}</p>
        <p><strong>Количество:</strong> {{ reserved_order.quantity }}</p>
        <p><strong>Итоговая стоимость:</strong> {{ reserved_order.total_amount }}</p>
        <p><strong>Город:</strong> {{ reserved_order.city }}</p>
        <p><strong>Адрес:</strong> {{ reserved_order.address }}</p>
        <p><strong>Оплачен:</strong> {{ reserved_order.paid }}</p>

        <button id="confirmPurchaseBtn" class="confirm-btn">Оформить заказ</button>
    </div>
</main>

<script>
    document.getElementById("confirmPurchaseBtn").addEventListener("click", function() {
        window.location.href = "{% url 'finance' %}";
    });
</script>
{% endblock %}
