.site-footer {
    background-color: #f8f9fa; /* Цвет фона футера */
    padding: 5px; /* Внутренний отступ */
    text-align: center; /* Выравнивание содержимого по центру */
    font-size: 14px; /* Размер шрифта */
    color: #333333; /* Цвет текста */
    position: fixed; /* Фиксированное положение */
    bottom: 0; /* Прижимаем к нижней части окна */
    left: 0; /* Выравниваем по левому краю */
    width: 100%; /* Ширина футера на всю ширину окна */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Тень внизу */
}